/* Style dynamic elements created by js. Not sure if it should be done
   by css or the js, but done here for now */
.validate-error {
    color : #FF0000FF;
}

/* Style all table headers and data in table with id="table-result" */
#table-result th, #table-result td {
    padding-right : 1.25rem;
    text-align : left;
}

/* Style antall and phonenumber column in table with id="table-result" */
#table-result th:nth-child(2),
#table-result th:nth-child(5),
#table-result td:nth-child(2),
#table-result td:nth-child(5) {
    text-align: right;
}